body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background: url('valley-image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#background {
    width: 100%;
    height: 100%;
    position: relative;
}

#tree {
    position: absolute;
    display: none;
}

#inventory {
    background-color: #ffc107; /* Yellow color for inventory */
    width: 20%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}
