body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ocean {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("ocean.png"); /* Use background-image property */
    background-size: cover; /* This will make the background image cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image tiling */
}

.submersible {
    position: absolute;
    width: 150px;
    height: 100px;
}

#submarine-img {
    width: 100%;
    height: auto;
}

#trash {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FFF;
}
