body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ocean {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0077BE;
}

.submersible {
    position: absolute;
    width: 100px;
    height: 100px;
}

#trash {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FFF;
}
