/* Existing CSS styles */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: space-between;
    min-width: 20%; /* Set the minimum width to 20% */
    height: 100vh;
    background-color: #EEEEEE;
}



/* Updated CSS for the game area */
.game-screen {
    flex-grow: 1; /* Allow it to grow and take available space */
    position: relative;
}

#inventory {
    width: 20%;
    height: 100%;
    background-color: #71C0B7;
    padding: 10px;
    text-align: center;
    overflow-y: hidden; /* Disable vertical scroll */
}


#inventory h2 {
    color: #FFFFFF;
    margin: 0;
}

#inventory img {
    max-width: 100px;
    cursor: pointer;
}

/* Combined style for the selected tree in the inventory */
#inventory img.selected {
    border: 2px solid #FFA726; /* Add a border to indicate selection */
    border-radius: 5px;
}


/* Updated CSS for Objectives and Trees Planted text */
#objectives {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    font-size: 24px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif; /* Use a preferred font family */
}

#trees-planted {
    margin: 0;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Make it bold for emphasis */
}


/* Updated CSS for the Level Complete screen */
#level-complete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #71C0B7; /* Use the desired background color */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

#level-complete h2, #level-complete p, #next-level-button {
    color: #FFFFFF;
}

/* Updated CSS for the "Move to Next Level" button */
#next-level-button {
    background-color: #FFA726;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

#next-level-button:hover {
    background-color: #FF9800;
}


