/* Existing CSS styles */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #EEEEEE;
}

.game-screen {
    flex: 1;
    position: relative;
}

#inventory {
    width: 20%;
    background-color: #71C0B7;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
}

#inventory h2 {
    color: #FFFFFF;
    margin: 0;
}

#inventory img {
    max-width: 100px;
    cursor: pointer;
}

/* Combined style for the selected tree in the inventory */
#inventory img.selected {
    border: 2px solid #FFA726; /* Add a border to indicate selection */
    border-radius: 5px;
}

/* Add this CSS to your reforestation.css file or include it in your HTML file if preferred */

/* Style for the tree count display */
.tree-count {
    font-size: 18px; /* Adjust the font size as needed */
    color: white; /* Set the text color to white */
    text-stroke: 2px #4CAF50; /* Add a text stroke with color */
    position: absolute; /* Position the element absolutely */
    z-index: 1; /* Set a z-index value to place it on top of other elements */
    top: 10px; /* Position from the top */
    left: 10px; /* Position from the left */
}
