/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Game container styles */
.game-container {
    display: flex;
    flex-direction: column; /* Stack the game screen and inventory vertically */
    height: 100vh;
    background-color: #EEEEEE;
    position: relative; /* Added relative positioning to allow for absolute positioning of inventory */
}

/* Game screen styles with background image */
.game-screen {
    flex: 1;
    position: relative;
    max-width: 100%;
    background-size: cover;
}

/* Inventory styles */
#inventory {
    width: 100%;
    height: 20vh; /* Set the height to 20% of the viewport height (adjust as needed) */
    background-color: #71C0B7;
    padding: 10px;
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    position: absolute;
    bottom: 0;
}

/* Inventory text styles */
#inventory h2 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    text-align: left; /* Adjusted text alignment to the left */
}

/* Inventory image styles */
#inventory img {
    max-width: 100px; /* Adjusted the maximum width for the image */
    cursor: pointer;
    float: right; /* Float the image to the right */
}

/* Selected tree in the inventory styles */
#inventory img.selected {
    border: 2px solid #FFA726;
    border-radius: 5px;
}

/* Objectives and Trees Planted text styles */
#objectives {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: left; /* Adjusted text alignment to the left */
}

#trees-planted {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* Level Complete screen styles */
#level-complete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #71C0B7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#level-complete h2, #level-complete p, #next-level-button {
    color: #FFFFFF;
    font-size: 36px;
}

/* Move to Next Level button styles */
#next-level-button {
    background-color: #FFA726;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#next-level-button:hover {
    background-color: #FF9800;
}

/* Media query to adjust layout for smaller screens */
@media screen and (max-width: 768px) {
    .game-container {
        flex-direction: column; /* Stack the game screen and inventory vertically */
    }

    .game-screen, #inventory {
        width: 100%; /* Set both to full width on smaller screens */
    }
}
